.skeleton {
  background: linear-gradient(90deg, #ddda 30%, #eaeaeaaa, #ddda 70%) right / 300% 100%;
  animation: skeleton-loading 1.5s linear infinite;
}

@keyframes skeleton-loading {
  to {
    background-position: left;
  }
}